@keyframes shift {
    to {
      transform: translateX(4px);
    }
  }
  
  @keyframes scale {
    to {
      transform: scale(1.5);
    }
  }
  
  @keyframes opacity {
    to {
      opacity: 1;
    }
  }